@mixin text-style ($fontSize, $lineHeight, $fontWeight, $letterSpacing, $fontStyle, $textDecoration) {
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
    color: var(--onColor);
    font-style: $fontStyle;
    text-decoration: $textDecoration;
}

@mixin setTextColor ($fontColor) {
    color: var(--onColor, $fontColor);
}